:root {
	--greyDark: #373333;
	--greyLight: #787070;
	--yellowDark: #ffb13c;
	--yellowLight: #fdba54;

	--font-h: "Open Sans", sans-serif;
	--font-p: "Merriweather", sans-serif;
}

html {
	box-sizing: border-box;
	font-size: 62.5%;
	line-height: 2;
	color: var(--greyDark);
}

*,
*:after,
*:before {
	box-sizing: inherit;
}

/* GLOBAL STYLES */

h1 {
	font-size: 5rem;
	line-height: 1.2;
}

h2 {
	font-size: 3rem;
}

h3 {
	font-size: 2.2rem;
}

h4 {
	font-size: 1.8rem;
}

p {
	font-size: 1.6rem;
}

a {
	font-size: 1.6rem;
}

h1,
h2,
h3,
h4 {
	letter-spacing: 0.5rem;
}

h1,
h2,
h3,
h4,
a {
	font-family: var(--font-h);
	margin: 0;
	font-weight: 400;
}

p {
	font-family: var(--font-p);
	margin: 0;
	font-weight: 400;
}

img {
	width: 100%;
}

/* UTILITIES */

.container {
	max-width: 90%;
	margin: 0 auto;
}

.btn {
	display: block;
	flex: none;
	background-color: var(--yellowDark);
	padding: 1rem 2rem;
	color: #ffffff;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: 600;
	cursor: pointer;
	text-align: center;
}

.btn:hover {
	background-color: var(--yellowLight);
}

@media (min-width: 768px) {
	.btn {
		display: inline-block;
		flex: 0 0 auto;
	}
}

.u-case {
	text-transform: uppercase;
}

.fw600 {
	font-weight: 600;
}

/* SITE HEADER */

.site_header {
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
		url("../img/hero_buildings-1.jpg");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 100vh;
	width: 100%;
}

/* SITE HEADER == SITE NAV */

.site_nav {
	display: inline-block;
	width: 100%;
	height: 10rem;
	position: relative;
}

.site_nav:after {
	content: "";
	display: block;
	width: 100%;
	height: 1px;
	background-color: rgba(255, 255, 255, 0.5);
	position: absolute;
	top: 4.5rem;
}

@media (min-width: 768px) {
	.site_nav:after {
		top: 5rem;
	}
}

.site_nav-grid {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(5, auto-fit);
}

@media (min-width: 768px) {
	.site_nav-grid {
		display: grid;
		grid-template-columns: repeat(2, auto-fit);
		grid-template-rows: repeat(2, auto-fit);
		width: 100vw;
	}
}

.site_nav-contact {
	display: flex;
	justify-content: space-between;
	align-items: center;
	grid-column: 1;
	grid-row: 1;
	margin: 1rem 0 2rem 0;
}

.site_nav-contact p {
	font-size: 1.2rem;
	font-family: var(--font-h);
	color: #ffffff;
}

@media (min-width: 768px) {
	.site_nav-contact {
		display: flex;
		justify-content: flex-start;
		height: 5rem;
		grid-column: 1;
		grid-row: 1;
		margin: 0;
	}

	.site_nav-contact p {
		font-size: 1.6rem;
		margin-right: 2rem;
		position: relative;
	}

	.site_nav-contact .email {
		padding-left: 2rem;
	}

	.site_nav-contact p:after {
		content: "";
		width: 1px;
		height: 5rem;
		background-color: rgba(255, 255, 255, 0.5);
		position: absolute;
		bottom: 0;
		right: -2rem;
		box-shadow: 0 1rem rgba(255, 255, 255, 0.5);
	}
}

.site_nav-social {
	display: none;
}

@media (min-width: 768px) {
	.site_nav-social {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		grid-column: 2;
		grid-row: 1;
	}

	.site_nav-social a {
		margin-left: 2rem;
		color: #ffffff;
	}

	.site_nav-social a:first-of-type {
		margin-left: 2rem;
		color: #ffffff;
		position: relative;
	}

	.site_nav-social a:first-of-type:before {
		content: "";
		width: 1px;
		height: 5rem;
		background-color: rgba(255, 255, 255, 0.5);
		position: absolute;
		bottom: 0;
		left: -2rem;
		box-shadow: 0 1rem rgba(255, 255, 255, 0.5);
	}
	.site_nav-social a:hover {
		color: var(--yellowDark);
	}
}

.site_nav-menu {
	display: flex;
	justify-content: space-between;
	grid-column: 1;
	grid-row: 3;
	position: relative;
}

.site_nav-menu label {
	color: #ffffff;
	font-size: 2rem;
	margin: 0;
}

.site_nav-menu label i {
	cursor: pointer;
}

.site_nav-menu input {
	display: none;
}

.menu_list {
	padding-left: 0;
	list-style: none;
	background-color: #ffffff;
	position: absolute;
	top: 4rem;
	left: 95vw;
	width: 0;
	padding: 4rem 0;
	transition: ease 0.5s;
	-webkit-box-shadow: -7px 7px 10px 0px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: -7px 7px 10px 0px rgba(0, 0, 0, 0.5);
	box-shadow: -7px 7px 10px 0px rgba(0, 0, 0, 0.5);
}

.menu_list li {
	height: 4.8rem;
}

.menu_list a {
	display: block;
	color: var(--greyDark);
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
	font-size: 0;
	font-weight: 500;
	padding: 0;
	/* Delays font-size transition out */
	transition-delay: 0.5s;
}

.menu_list li:hover {
	background-color: var(--yellowDark);
}

#toggle:checked ~ .menu_list {
	left: 30%;
	width: 68vw;
}

#toggle:checked ~ .menu_list a {
	font-size: 1.4rem;
	padding: 1rem 0 1rem 2rem;
	/* Kills font-size transition in */
	transition: font-size 0s;
}

#toggle:checked + label i {
	color: var(--yellowDark);
}

@media (min-width: 768px) {
	.site_nav-menu {
		justify-content: flex-start;
		align-items: center;
		grid-column: 1;
		grid-row: 2;
		height: 8rem;
		position: static;
	}

	.site_nav-menu label {
		display: none;
	}

	.site_nav-menu .menu_list {
		display: flex;
		position: static;
		background-color: transparent;
		padding: 0;
		width: 100%;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
	}

	.site_nav-menu .menu_list li {
		height: 100%;
	}
	.site_nav-menu .menu_list li:hover {
		background-color: transparent;
	}

	.site_nav-menu .menu_list a {
		padding: 0.6rem 1.6rem;
		color: #ffffff;
		font-size: 1.4rem;
		transition: none;
	}

	.site_nav-menu .menu_list a:hover {
		border: 1px solid #ffffff;
		padding: 0.5rem 1.5rem;
	}
}

.site_nav-features {
	display: none;
}

@media (min-width: 768px) {
	.site_nav-features {
		display: flex;
		color: #ffffff;
		grid-column: 1;
		grid-row: 4;
	}
}

@media (min-width: 768px) {
	.site_nav-features {
		justify-content: flex-end;
		align-items: center;
		grid-column: 2;
		grid-row: 2;
	}

	.site_nav-features p {
		font-size: 1.4rem;
		font-family: var(--font-h);
		color: #ffffff;
	}

	.site_nav-features .shopping {
		margin-right: 4rem;
	}

	.site_nav-features i:hover {
		color: var(--yellowDark);
		cursor: pointer;
	}
}

.logo {
	display: flex;
	align-items: center;
}

.logo img {
	width: 10rem;
	margin-right: 2rem;
}

/* HEADER CONTENT */

.site_header-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 80vh;
	color: #ffffff;
	text-align: center;
}

@media (min-width: 768px) {
	.site_header-content {
		max-width: 100rem;
	}
}

.site_header-content p {
	margin: 3rem 0;
	max-width: 70rem;
}

/* PORTFOLIO SECTION */

.site_portfolio {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin: 5rem auto;
}

.portfolio-text {
	margin: 3rem 0 1rem 0;
	max-width: 70rem;
}

.site_portfolio-display {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.site_portfolio-card {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 29rem;
	margin-top: 5rem;
}

.card-image {
	width: 20rem;
	height: 20rem;
	border-radius: 50%;
}

.card-title {
	font-size: 1.3rem;
	margin-top: 3rem;
	font-weight: 600;
}

.card-text {
	font-size: 1.3rem;
}

/* FEATURES SECTION */

.site_features {
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7)),
		url("../img/features-section-BG.jpg");
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
}

.site_features-cards {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	color: #ffffff;
	padding: 5rem 0;
	text-align: center;
	position: relative;
}

.site_features-cards:after {
	content: "";
	display: block;
	height: 1px;
	width: 100%;
	position: absolute;
	top: 50%;
	background-color: rgba(255, 255, 255, 0.5);
}

.features_card {
	display: flex;
	flex-direction: column;
	width: 30rem;
	padding: 3rem 5rem;
	flex: 1 0 auto;
}

@media (min-width: 1080px) {
	.features_card {
		display: flex;
		flex-direction: column;
		width: 30rem;
		padding: 3rem 1rem;
		flex: 1 0 33.33%;
	}
}

.features_card-icon {
	color: var(--yellowDark);
	font-size: 3rem;
	line-height: 1;
	margin-bottom: 1rem;
}

.features_card-title {
	margin-bottom: 2.5rem;
}

.features_card-text {
	font-size: 1.4rem;
}
